{% extends 'catalog/base.html' %}
{% block content %}

<div class="central">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<div class="container">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
    </div>
</div>
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
            {% include 'catalog/includes/inc_product.html' %}
            {% endfor %}

        </div>
    </div>

    {% endblock %}
